:root {
  --plugins-buttons-width: 125px;
}

.PluginRow {
  position: relative;
  margin-bottom: 4px;
  height: auto;
  min-height: 120px;
  background: #1c1f25;
  width: 100%;
}

.PluginRow-flexContent {
  width: 100%;
  display: flex;
  min-height: 120px;
}

.PluginRow--isInstalled {
  opacity: 0.9;
}

.PluginRow-meta {
  flex-grow: 1;
  box-sizing: border-box;
  height: 100%;
  padding: 16px;
}

.PluginRow-name {
  margin-top: 10px;
  width: 100%;
}

.PluginRow-description {
  margin-top: 5px;
  width: 100%;
  color: #808691;
}

.PluginRow-published {
  margin-top: 4px;
  width: 100%;
  color: #555D70;

  & a { color: #fff }
}

.PluginRow-buttons {
  width: var(--plugins-buttons-width);
  flex-shrink: 0; /* Don't shrink smaller than 125px. */
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.PluginRow-button {
  /* Size & Position */
  width: 100%;
  padding-left: 6px;
  height: 59px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;

  /* Colors */
  background: #2d313a;
  color: #eee;

  /* Font */
  font: 16px 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: left;
  text-decoration: none;

  /* etc */
  cursor: pointer;

  &:hover {
    background: #009cdd;
  }
}

.PluginRow-status {
  &.is-enabled {
    background: #32234c;
    &:hover { background: #f04f30; }
  }
}

.PluginRow-uninstall {
  &:hover {
    background: #f04f30;
  }
}

.PluginRow-installed {
  cursor: default;

  background: #32234c;
  &:hover {
    /* No change */
    background: #32234c;
  }
}

.PluginRow-icon {
  position: static;
}

.PluginRow-settings {
  display: none;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;

  &.is-expanded {
    display: block;
  }

  /* Clearfix */
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.PluginRow-expand {
  position: absolute;
  top: 16px;
  right: calc(16px + var(--plugins-buttons-width));
  cursor: pointer;
  background: none;
}

.PluginRow-expandIcon {
  position: static;
  display: block;
}
