.PluginSearchBar {
  width: 100%;
  height: 40px;
  position: relative;
}

.PluginSearchBar-icon {
  top: 5px;
  left: 7px;
}

.PluginSearchBar-input {
  position: absolute;
  top: 0;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  background: #0a0a0a;
  border: 1px solid #323742;

  font: 16px 'Open Sans', sans-serif;
  color: #eee;

  &:focus {
    border-color: #009cdd;
  }
}
