@import './Control.css';

.extp-Checkbox {
  position: relative;
  cursor: pointer;

  &-icon {
    top: 2px;
    left: 0;
    display: none;
  }

  &.is-selected &-icon {
    display: block;
  }

  &-label {
    position: absolute;
    left: 17px;
    margin-left: 10px;
  }
}
