@import './Control.css';

.extp-Checkbox {
  position: relative;
  cursor: pointer;
}

.extp-Checkbox-icon {
  top: 2px;
  left: 0;
  display: none;
}

.extp-Checkbox.is-selected .extp-Checkbox-icon {
  display: block;
}

.extp-Checkbox-label {
  position: absolute;
  left: 17px;
  margin-left: 10px;
}
